
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  black url(./images/phone-gbe302ccee_1280.jpg) 0 0 / cover no-repeat;
  background-color: rgba(255, 255, 255, 0.867);
  /* background-color: hsla(0, 0%, 0%, 0.613); */
  /* color:#ffffff; */
  /* min-height: 100vh; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  font-style: normal;
  color: rgba(149, 146, 146, 0.983);
  /* color: rgb(219, 219, 219); */

  /* color: #605f5f; */

  /* color: rgb(220, 164, 34); */

  
}
.active {
  /* text-decoration: underline; */
  /* font-size: larger; */
  font-weight: 600;
  color: white;

}

button {
  
}